<div *ngIf="length == 0 else showTasks">
  <div class="container-fluid page" >
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 ">
      <div class="page__content-data ">
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <h2>No Tasks are Present</h2>
  </div>
  </div>
  </div>
  </div>
</div>

<ng-template #showTasks>
<div class="container-fluid page" >
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 ">
      <div class="page__content-data ">
        <div>
          
        <div class="row">
          <div class="col-lg-6">
              <h2>Tasks Chart</h2>
              <canvas id ="piechart"></canvas>
          </div>      
      </div>
      </div>
      </div>
      </div>
</div>
</ng-template>