<div>
<div class="company-logo">
    <img src="../../assets/image-accordion.png"  alt="company logo is missing" width="200px" height="100px">
  </div>
  <mat-divider></mat-divider>
  <div class="nav-items">
    <div class="nav-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <a routerLink="../managerdashboard/manager-profile">Profile</a></div>
    <div class="nav-item">
        <fa-icon [icon]="tasks"></fa-icon>
        <a routerLink="../managerdashboard/manager-projects">Projects</a></div>
    <div class="nav-item">
        <fa-icon [icon]="tasks"></fa-icon>
        <a routerLink="../managerdashboard/createtasks">Create Task</a></div>
    <!-- <div class="nav-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <a routerLink="../managerdashboard/create-user">Create User</a></div> -->
    <div class="nav-item">
        <fa-icon [icon]="update"></fa-icon>
        <a routerLink="../managerdashboard/update-task">Update</a></div>
    <div class="nav-item">
        <fa-icon [icon]="remove"></fa-icon>
        <a routerLink="../managerdashboard/delete-task">Delete</a></div>
  </div>
  </div>

