<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Roles</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data">
<div class="form-container">
    <h2>Employee Role</h2>
    <h3 *ngIf="showMessage">Role Updated Successfully</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Employee Id</label>
        <select id="userId" name="userId" formControlName="userId">
          <option value="" disabled>Select User</option>
          <option *ngFor="let user of allUsers" [value]="user.user_id">{{ user.user_id }}</option>
        </select>
        <small *ngIf="f['userId'].invalid && (f['userId'].dirty || f['userId'].touched)" class="error-message">
          Employee Id is required
        </small>
      </div>
      <div class="form-group">
        <label>Role:</label>
        <select formControlName="role">
          <option value="">Select Role</option>
          <option value="ADMIN">ADMIN</option>
          <option value="Manager">Manager</option>
          <option value="USER">USER</option>
        </select>
        <small *ngIf="f['role'].invalid && (f['role'].dirty || f['role'].touched)" class="error-message">
          Role is required
        </small>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  