.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
  }
  
  .page__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  
  .page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    height: 100%;
  }

.form-container {
    max-width: 400px;
    margin-left:400px;
    margin-top: 70px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #dc3545;
    font-size: 14px;
  }
  h3{
    color: green;
    margin-left: 70px;
  }