<div>

    <div class="company-logo">
      <img src="../../assets/image-accordion.png"  alt="company logo is missing" width="200px" height="100px">
    </div>
    <mat-divider></mat-divider>
    <div class="nav-items">
    <div class="nav-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <a routerLink="../dashboard/profile">Profile</a></div>
    <div class="nav-item">
        <fa-icon [icon]="tasks"></fa-icon>
        <a routerLink="../dashboard/tasks">Task</a></div>
    <div class="nav-item">
        <fa-icon [icon]="update"></fa-icon>
        <a routerLink="../dashboard/usertask-update">Update Tasks</a></div>
  </div>
  </div>
