<div class="container1">
    <div class="nav-bar-style">
    <nav class="nav-class">
        <div class="nav-elements">
        <a>Home</a>
        <a> About</a>
        </div>
        <div class="nav-buttons">
        <button type="button" class="btn btn-lg" id="register-btn"> <a routerLink="../register">Register</a></button>
        <button type="button" class="btn btn-lg" id="login-btn"><a routerLink="../login"> Login </a></button>
        </div>
    </nav>
    </div>

    <div class="img-content">
        <img src="./../../assets/image.png" width="500px" alt="image not found">
        <div class="small-box">
       <p>The Employee Performance Analytics Dashboard provides a comprehensive overview of workforce productivity and efficiency. It leverages data analytics to track key performance indicators, including individual and team achievements, project timelines, and goal fulfillment. This dynamic dashboard enables management to make informed decisions by visualizing trends, identifying top performers, and addressing areas for improvement.</p>
        </div>
    </div>
   
    <div class="img-content1">
        <p>A Task and Project Dashboard is a centralized platform that facilitates efficient project and task management. It enables users, including project managers and team members, to track project progress, monitor task completion, and manage deadlines effectively. The dashboard provides real-time insights, fostering collaboration and enhancing overall project visibility. It serves as a valuable tool for streamlined project execution and improved team coordination.</p>
        <img src="./../../assets/img2.jpg" width="450px" alt="Dashboard image">
    </div>

  </div>
