.nav-class{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-content{
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;

}

.small-box{
    box-sizing: border-box;
    margin: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar-style{
    background-color: aqua;
    
}
#register-btn{
    background-color: orangered;
    margin-right: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: medium;
}
#login-btn{
    background-color: orangered;
    margin-right: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: medium;
}

.container1{
    width: 1200px;
    margin-left: 100px;
    border: 1px solid black;
}

.nav-elements{
    display: flex;
    gap: 70px;
    margin-left: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}
.nav-buttons a{
    text-decoration: none;
    color: black;
}
.img-content1{
    display: flex;
    margin-right: 20px;
}
.img-content1 p{
    margin: 30px;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

