<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Add a new Employee</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
<div class="register-contianer">
    <div class="conatiner2">
    <h2 id="sign-up-board">Create a User</h2>
   <form [formGroup]="reactiveForm"  (ngSubmit)="OnFormSubmit()">
      <div class="register-content">
      <label class="form-elements">
        <input type="text" placeholder="First Name*" formControlName="firstName"/>
        <label class="name-class">
        <input type="text" placeholder="Last Name" formControlName="lastName"/>
        </label>
        <small *ngIf="reactiveForm.get('firstName').invalid&& reactiveForm.get('firstName').touched">
          *FirstName is required filed
        </small>
      </label>
  
      <label class="form-elements">
        <input type="text" placeholder="email*" size="51px" formControlName="email"/>
        <small *ngIf="reactiveForm.get('email').invalid&& reactiveForm.get('email').touched">
          *email is required filed
        </small>

      </label>

  

      <label class="form-elements">
        <input type="password" placeholder="password*" id="password" size="51px" formControlName="password"/>
        <small *ngIf="reactiveForm.get('password').invalid&& reactiveForm.get('password').touched">
          *password is required filed
        </small>
      </label>

     
      <br>
       <p *ngIf="isCreated">User Created Successfully</p>
      <br>
      <label>
        <button type="submit" class="form-btn" [disabled]="reactiveForm.invalid">Register</button>
      </label>
     </div>
   </form>
</div>
</div>

