<div>
    <div class="company-logo">
      <img src="../../assets/image-accordion.png"  alt="company logo is missing" width="200px" height="100px">
    </div>
    <mat-divider></mat-divider>
    <div class="nav-items">
    <!-- <div class="nav-item">
        <fa-icon [icon]="manyUsers"></fa-icon>
        <a routerLink="/admindashboard/allusers">All Users</a></div> -->
    <div class="nav-item">
        <fa-icon [icon]="project"></fa-icon>
        <a routerLink="../admindashboard/delete-project">All Projects</a></div>
    <div class="nav-item">
        <fa-icon [icon]="project"></fa-icon>
    <a routerLink="../admindashboard/create-project">Create/Update    Project</a></div>
    <div class="nav-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <a routerLink="/admindashboard/newmanager">New Employee</a></div>
    <div class="nav-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <a routerLink="../admindashboard/update-role">Update Role</a></div>
    <div class="nav-item">
        <fa-icon [icon]="remove"></fa-icon>
        <a routerLink="../admindashboard/delete-user">Delete</a></div>
   
  </div>
  </div>
