<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Add Task to your Project</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
<div class="container">
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="task-container">
    <h2>Create Task</h2>
    <div class="form-group">
            <label for="projectId">Project ID:</label>
            <select id="projectId" name="projectId"  formControlName="projectId">
              <option value="" disabled>Select Project</option>
              <option *ngFor="let project of projects" [value]="project.project_id">{{ project.project_id }}</option>
            </select>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
    </div>
    
    <div class="form-group1">
      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option  value="ON_HOLD">ON_HOLD</option>
        <option  value="IN_PROGRESS">IN_PROGRESS</option>
        <option  value="completed">COMPLETED</option>
      </select>
      <label for="assignedTo">Assigned To:</label>
      <select id="assignedTo" formControlName="assignedTo">
        <option value="" disabled>Select Users</option>
        <option *ngFor="let user of allEmployee" [value]="user.email">{{ user.email }}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="assignDate">Assign Date:</label>
      <input type="date" id="assignDate" formControlName="assignDate">
      <label for="completionDate">Completion Date:</label>
      <input type="date" id="completionDate" formControlName="completionDate">
    </div>
    <p *ngIf="isCreated">Task is created successfully</p>
    <button type="submit" >Submit</button>

  </div>
  </form>
</div>
  
